.panel
  .panel-header
    = t 'about.contact'
  .panel-body
    .owner
      %p
        = t('about.contact_body_mastodon').html_safe
        = ' → '
        = link_to '@negao', account_path('negao')
