= link_to root_path do
  = image_tag asset_pack_path('pawoo/logo_pawoo.png'), width: 450, style: 'display:block;margin:0 auto 40px;max-width:100%;'

%p
  boon.chatは個人が運営するMastodonのインスタンス（サーバー）です。
  「自由なコミュニケーションを楽しめる場」として、どなたにも幅広く使っていただけます。
