%p.main ＼ boon.chatの特徴 ／

%p.title 一度に500文字までのテキスト・画像・動画を投稿できる

= image_tag asset_pack_path('pawoo/about/submit-form.png'), width: '100%'

%p.title boon.chatにはローカルタイムラインがあり、わいわいしてる場を楽しめる
%p ローカルタイムラインを見れば、Pawoo内での会話がすべて流れてくるので、フォローしている人がいなくても使い始めから楽しい！

%p.title 投稿時に公開範囲を制限できる
%p 例えば、boon.chat上のユーザーに広く見てもらいたいイラストと、フォロワーのみに見せたいイラストを分けて投稿することができる！

%p.title boon.chatの機能「メディアタイムライン」がとっても面白い
%p
  投稿された画像や動画だけが一覧で見れる「メディアタイムライン」機能が追加されています。
  メディアタイムラインには常に多数のイラストが登場し、クリエイター間での交流も盛んに行われています。
